
.header{   
    max-width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 2;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 137px;
    background-color: #13061e;
    z-index: 2;
}

.header__row {
    display: flex;
    position: relative;
    padding: 30px 0;
    justify-content: space-between ;
    flex-direction: row;
}

.logo {
    z-index: 4;
    display: flex;
    align-items: center;
    flex: 0 0 300px;
    animation: float 6s ease-in-out infinite;
}

.header__logo {
    max-width: 100%;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-5px);
    }
    100% {
      transform: translatey(0px);
    }
  }

.navbar {
    position: relative;
    display: flex;
    z-index: 2;
}

.navbar_items {
    padding: 20px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list_nav .nav_btn {
    display: flex;
    position: relative;
    margin-left: 10px;
    background-color: var(--buttonscolor);
    text-decoration: none;
    color: #fff;
    padding: 5px 26px;
    border-radius: 29px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.nav_btn span{
    position: relative;
    margin-left: 10px;
}

.nav_btn:hover {
    background-color: var(--buttonhovercolor)
}

/* временный */
.login {
    height: 22px;
}

#map_ico {
    content: url(../../static/map.svg);
    width: 24px;
    height: 21px;
}

#rules_ico {
    content: url(../../static/rules.svg);
    width: 24px;
    height: 21px;
}

#vk_ico {
    content: url(../../static/vk.svg);
    width: 24px;
    height: 21px;
}

.burger_menu {
    display: none;
}

@media (max-width: 1055px) {
    .header::before {
        height: 90px;
        z-index: 4;
    }


    .navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--elementcolor);
        padding: 95px 0 0 0;
        transition: 0.3s;
        justify-content: center;
    }

    .navbar.open{
        display: flex;
    }

    .navbar_items {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        width: 700px;
    }



    .list_nav .nav_btn {
        border-radius: 0px;
        background-color: transparent;
        margin: 0;
    }

    .nav_btn {
        justify-content: center;
        align-items: center;
        height: 30px;
        border: 1px solid var(--buttonhovercolor);
    }

    .nav_btn:active {
        background-color: var(--buttonhovercolor)
    }

    .logo {
        flex: 0 0 240px;
    }

    .header__logo {
        display: flex;
        position: relative;
    }



    .header__row {
        justify-content:space-between;
    }

   .burger_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        padding: 0;
        z-index: 4;
   }

   .burger_menu span {
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: 0.3s;
   }

   .burger_menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }
  
   .burger_menu.active span:nth-child(2) {
    opacity: 0;
  }
  
   .burger_menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
   
}