.header{
    background-color: #13061e;
    max-width: 1920px;
    height: 137px;
    color: #fff;
}

.header__row {
    padding: 30px 0;
}

.header__logo {
    position: absolute;
    width: 318px;
    height: 69px;
}