.card_blocks {
    max-height: 240vh;
    margin-top: 170px;
    display: flex;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    column-gap: 90px;
}

.card {
    width: 290px;
    height: 470px;
    background-color: #13061E;
    border-radius: 45px;
}

.title_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    font-size: 20px;
    font-weight: bold;
    gap: 18px;
}

.context_list {
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px 20px;
    font-size: 18px;
}

.context_list li {
    margin-top: 10px;
}

.context_card {
    font-size: 22px;
    padding: 10px 20px;
    line-height: 30px;
}

.card_ico {
    width: 55px;
    height: 55px;
}

#gamepad_ico {
    content: url(../../static/gamepad.svg);
}

#pc_ico {
    content: url(../../static/pc.svg);
}

#server_ico {
    content: url(../../static/server.svg);
}

@media (max-width: 1060px) {
  .cards {
    column-gap: 20px;
  }
}

@media (max-width: 965px) {
    .cards {
        grid-template-rows: 290px 290px 400px;
        grid-template-columns:none;

        row-gap: 250px;
    }
}

@media (max-height: 540px) {
    .cards {
        position: relative;
    }
}

@media (max-height: 344px) {
    .card_blocks{
        max-height: 400vh;
    }
}