
.text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1a0d2b; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    padding: 20px;
    gap: 40px;
    flex-wrap: wrap;
    font-family: "Oxygen", system-ui;
    font-size: 24px;
    position: relative;
}

.block_context_title {
    position: absolute;
    flex: 2 1 300px;
    max-width: 700px;
    line-height: 62px;
    border-radius: 30px;
    background-color: rgba(17, 1, 27, 0.322);
    padding-left: 40px;
    padding-right: 40px;
}



.character {
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1095px) {
    .text_container {
      flex-direction: column;
      gap: 10px;
      font-size: 16px;
      
    }
  
    .block_context_title {
        display: flex;
        position: relative;
        max-width: 100%;
        align-items: center;
        line-height: 30px;
    }

    .character {
        display: none;
    }
  }







